machine.json
{
	"Comment": "An example of the Amazon States Language for reading messages from a DynamoDB table and sending them to SQS",
	"StartAt": "Seed the DynamoDB Table",
	"TimeoutSeconds": 3600,
	"States": {
		"Seed the DynamoDB Table": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-2:822610072828:function:seed-dynamodb-blog-function",
			"ResultPath": "$.List",
			"Next": "Get All Users"
		},
		"Get All Users": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-2:822610072828:function:get_all_users",
			"Next": "Pass"
		},
		"Pass": {
            "InputPath": "$.users[1:]",
			"Type": "Pass",
			"Next": "CheckUser",
            "ResultPath": "$.users"
		},
        "CheckUser":{
          "Type": "Choice",
          "Choices": [
            {
              "Variable": "$.users[0]",
              "StringEquals": "DONE",
              "Next": "Success"
            }
          ],
          "Default": "ValidateUser"
        },
		"ValidateUser": {
			"Type": "Parallel",
			"Next": "CheckValid",
            "ResultPath": "$.isValid",
			"Branches": [{
					"StartAt": "ValidateName",
					"States": {
						"ValidateName": {
							"Type": "Task",
							"Resource": "arn:aws:lambda:eu-west-2:822610072828:function:validate_name",
							"End": true
						}
					}
				},
				{
					"StartAt": "ValidateSS",
					"States": {
						"ValidateSS": {
							"Type": "Task",
							"Resource": "arn:aws:lambda:eu-west-2:822610072828:function:validate_social_security",
							"End": true
						}
					}
				}
			]
		},
      "CheckValid": {
        "Type": "Choice",
        "Choices": [
          {
            "And":[
              {
                "Variable": "$.isValid[0]",
                "BooleanEquals": true
              },
              {
                "Variable": "$.isValid[1]",
                "BooleanEquals": true
              }
            ],
            "Next": "CheckRating"
          }
        ],
        "Default": "Pass"
      },
      "CheckRating": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.users[0].rating.S",
            "StringLessThanEquals": "3",
            "Next": "SendEmail"
          },
          {
            "Variable": "$.users[0].rating.S",
            "StringGreaterThanEquals": "3",
            "Next": "Pass"
          }
        ]
      },
      "SendEmail": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:eu-west-2:822610072828:function:send_email",
        "Next": "Pass",
        "ResultPath": "$.mail"
      },
      "Success": {
        "Type": "Succeed"
      }
	}
}
